{% extends "_base.html" %}
{% block bodycontent %}
<script>

</script>
<br><br><br>
{% if user_email %}<!--dont want not signed in users to be able to add an event-->
<div class = "container">
	<form role = "form" method="post" class="form-horizontal col-md-6" action="/processform">
		<div class="form-group text-center"><he5>Input Your Event Data</he5></div>
		<div class="row">
			<div class="form-group">
				<label for: "summary" class="control-label col-lg-1">Title: </label>
				<div class="col-lg-12">
					<input type="text" class="form-control" name="title" maxlength=25 required>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="form-group">
				<label for: "summary" class="control-label col-lg-1">Summary:</label>
				<div class="col-lg-12">
					<textarea type="text" name="summary" class="form-control" rows="2" maxlength="75" required></textarea>
				</div>
			</div>
		</div>
		<!--<div class="form-group">
				<label for: "location" class="control-label">Location: </label>
				<select class="form-control" name="location">
					<option>LA</option>
					<option>NY</option>
					<option>Pittsburgh</option>
				</select>
			</div>-->
			
		<div class="row">
				<label for: "location" class = "control-label">Location: </label>
				<input name ="location" id="location" placeholder="Enter the address" onFocus="geolocate()" class="form-control" type="text" required></input>
		</div>
		<script>
		// This example displays an address form, using the autocomplete feature
		// of the Google Places API to help users fill in the information.

		var placeSearch, searchBox;
		var componentForm = {
		  street_number: 'short_name',
		  route: 'long_name',
		  locality: 'long_name',
		  administrative_area_level_1: 'short_name',
		  country: 'long_name',
		  postal_code: 'short_name'
		};

		function initAutocomplete() {
		  // Create the autocomplete object, restricting the search to geographical
		  // location types.
		  searchBox = new google.maps.places.SearchBox(
			  /** @type {!HTMLInputElement} */(document.getElementById('location')),
			  {types: ['geocode']});
		}


		// [START region_geolocation]
		// Bias the autocomplete object to the user's geographical location,
		// as supplied by the browser's 'navigator.geolocation' object.
		function geolocate() {
		  if (navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
			  var geolocation = {
				lat: position.coords.latitude,
				lng: position.coords.longitude
			  };
			  var circle = new google.maps.Circle({
				center: geolocation,
				radius: position.coords.accuracy
			  });
			  autocomplete.setBounds(circle.getBounds());
			});
		  }
		}
		// [END region_geolocation]
		</script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCI4nFrZVTJHU8Hw4LLGnEr8XRJWdmync0&signed_in=true&libraries=places&callback=initAutocomplete"
		async defer></script>
		<div class="row">
			<div class="form-group col-md-6">
				<label for: "startDate" class="control-label">Start Date: </label> 
				<input class="form-control" type="date" name="startdate" placeholder="Start Date" required><br>
			</div>
			<div class="form-group col-md-6">
				<label for: "endDate" class="control-label">End Date: </label>
				<input class="form-control" type="date" name="enddate" placeholder="End Date" required><br>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for: "startTime" class="control-label">Start Time: </label>
				<input class="form-control" type="time" value="00:00" name="starttime" placeholder="Start Time" required><br>
			</div>
			<div class="form-group col-md-6">
				<label for: "endTime" class="control-label ">End Time: </label>
				<input class="form-control" type="time" value="00:00" name="endtime" placeholder="End Time" required><br>
			</div>
		</div>
		<div class="row">
			<div class="form-group col-md-6">
				<label for: "attendance" class="control-label">Maximum Attendance: </label>
				<input class="form-control" type="number" class="form-control" name="attendance" placeholder="ex| 25,000" min="1" max="7000000000" required>
			</div>
		</div>
		<div class="row-horizontal">
			<div class="form-group">
				<label for: "information" class="control-label">Additional Information: </label>
				<textarea class="form-control" name="information" type="text" class="form-control" rows="5"></textarea>
			</div>
		</div>
		<div class="row">
			<button type="submit" class="btn btn-default">Submit</button>
		</div>
		<br>
	</form>
</div>
{% else %}
<div class = "container">
	You Must Be Logged In to Access This Page.
</div>
{% endif %}
{% endblock %}