{% extends "_base.html" %}
{% block bodycontent %}

<style>
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
  }
</style>

<body bgcolor=#E0E0E0>
<br><br><br>
<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
	<div class="carousel-inner" role="listbox">
      <div class="item active">
		<a href="http://socialcalender1520.appspot.com/event?id=9"><img src="/static/images/image1.jpg" alt="Image 1" width="460" height="289"></a>
		<div class="container">
			<div class="carousel-caption">
				<h1>Porter Robinson Concert</h1>
				<p>Porter Robinson is an American electronic music producer and DJ.</p>
			</div>
      </div>
      </div>

      <div class="item">
        <a href="http://socialcalender1520.appspot.com/event?id=10"><img src="/static/images/image2.jpg" alt="Image 2" width="460" height="289"></a>
		<div class="container">
			<div class="carousel-caption">
				<h1>Another Concert</h1>
				<p>Someone is playing a show at diesel.</p>
			</div>
      </div>
      </div>
    
      <div class="item">
        <a href="http://socialcalender1520.appspot.com/event?id=11"><img src="/static/images/image3.jpg" alt="Image 3" width="460" height="289"></a>
		<div class="container">
			<div class="carousel-caption">
				<h1>Childish Gambino Concert</h1>
				<p>American rapper who has performed many shows.</p>
			</div>
      </div>
      </div>

      <div class="item">
        <a href="http://socialcalender1520.appspot.com/event?id=12"><img src="/static/images/image4.jpg" alt="Image 4" width="460" height="289"></a>
		<div class="container">
			<div class="carousel-caption">
				<h1>The 1975 Concert</h1>
				<p>The 1975 are a British rock band formed in Manchester.</p>
			</div>
      </div>
	  </div>
    </div>
	
	<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>



<!--- 
	Below is the code for listing the five most popular events and a link to it.
	event.ELEMENT will basically grab anything we store in the database.
-->
<div class="container">
	<div class="row">
		<div class="col-md-4 text-center">
			<h3>Most Popular Events</h3>
			{% for event in list %}
			<h4> <a href = "/event?id={{event.event_number}}" style="text-decoration:none">{{event.title}}</a>
			{% if event.votes > 0 %} +{{event.votes}}
			{% else %} 0
			{% endif %}
			</h4>
			{% endfor %}
		</div>
		<div class="col-md-4 text-center">
			<h3>Recently Added Events</h3>
			{% for event in recent_events %}
			<h4> <a href = "/event?id={{event.event_number}}" style="text-decoration:none">{{event.title}}</a>
			{% if event.votes > 0 %} +{{event.votes}}
			{% else %} 0
			{% endif %}
			</h4>
			{% endfor %}
		</div>
		<div class="col-md-4 text-center">
			<h3>Featured Events</h3>
			{% for event in featured %}
			<h4> <a href = "/event?id={{event.event_number}}" style="text-decoration:none">{{event.title}}</a>
			{% if event.votes > 0 %} +{{event.votes}}
			{% else %} 0
			{% endif %}
			</h4>
			{% endfor %}
		</div>
	</div>
</div>
<!--- 
	End top 5 code
-->

</body>


{% endblock %}