{% extends "_base.html" %}
{% block bodycontent %}
<body>
	<br><br><br>
	{% if user_email %}
	<div class= "container">
			<div class="text-left"><he5>Profile Information:</he5></div>
				<label class="control-label">Name:</label> {{profile.name}}<br>
				<label class="control-label">Location:</label> {{profile.location}}<br>
				<label class="control-label">Interests:</label> {{profile.interests}}<br>
			<a class="btn btn-default pull-right" href="#editprofile" data-toggle="modal">Edit Profile Information</a>
			<br><br>
			<div class="text-left"><he5>Posted Events:</he5></div>
			<!--<a href = "http://localhost:8080/list?search={{user_email}}"> See all of your events </a>-->
	</div>
	<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/r/bs/jq-2.1.4,dt-1.10.9/datatables.min.css"/>
	<script type="text/javascript" src="https://cdn.datatables.net/r/bs/jq-2.1.4,dt-1.10.9/datatables.min.js"></script>

	<script>
		var url = document.URL; 
		url = url.split("search=") 
		url = url[1] /* why doesn't this crash when there is no search? */
		$(document).ready(function() {
		var table = $('#example').DataTable();
		table.search(url).draw()
	} );
	</script>
	
	<div class="container table-responsive">
		<table id="example" class="table table-bordered table-hover" cellspacing="0" width="100%">
				<thead>
					<tr>
						<th>Title</th>
						<th>Summary</th>
						<th>Start date</th>
						<th>Start time</th>
						<th>End date</th>
						<th>End time</th>
						<th>Location</th>
						<th hidden>User</th>
					</tr>
				</thead>
				
				<tfoot>
					<tr>
						<th>Title</th>
						<th>Summary</th>
						<th>Start date</th>
						<th>Start time</th>
						<th>End date</th>
						<th>End time</th>
						<th>Location</th>
						<th hidden>User</th>
					</tr>
				</tfoot>
				
				<tbody>

				{% for event_info in list %}
						<tr.table-hover>
							<th><a href = "/event?id={{event_info.event_number}}">{{event_info.title}}</a></th>
							<th>{{event_info.summary}}</th>
							<th>{{event_info.start_date}}</th>
							<th>{{event_info.start_time}}</th>
							<th>{{event_info.end_date}}</th>
							<th>{{event_info.end_time}}</th>
							<th>{{event_info.location}}</th>
							<th hidden>{{event_info.user}}</th>
							
						</tr>
				{% endfor %}

				</tbody>
		</table>
	</div>
	
	<div class="modal fade" id="editprofile" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<form role = "form" method="post" class="form-horizontal" action="/profile"> <!--Need to process the information-->
					<div class="modal-header">
						<he5>Edit Profile Information</he5>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label for: "name" class="col-lg-2 control-label">Name: </label>
							<div class="col-lg-10">
								<input type="text" class="form-control" name="name" id="name" value="{{profile.name}}" maxlength=70 required>
							</div>
						</div>
						<div class="form-group">
							<label for: "Location" class="col-lg-2 control-label">Location: </label>
							<div class="col-lg-10">
								<input type="text" class="form-control" name="location" id="Location" value="{{profile.location}}" maxlength=35 required>
							</div>
						</div>
						<div class="form-group">
							<label for: "Interests" class="col-lg-2 control-label">Interests: </label>
							<div class="col-lg-10">
								<textarea type="text" class="form-control" name="interests" id="Interests" value="" maxlength=140 required>{{profile.interests}}</textarea>
							</div>
						</div>
					</div>
					<div class="modal-footer">
						<a class="btn btn-default text-right" data-dismiss="modal">Close</a>
						<button type="submit" class="btn btn-primary">Submit</button>
					</div>
				</form>
			</div>
		</div>
	</div>
	
	{% else %}
	<div class = "container">
		You must be logged in to access this page.
	</div>
	{% endif %}
</body>
{% endblock %}