<head>
    <title>Confirmation</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <!-- Custom CSS -->
    <link href="/static/css/grayscale1.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="static/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
</head>
<body>
    <div class="container">
    <br>
        <h2>Question Submitted Successfully!</h2>
        <hr>
        <div class="col-lg-11"></div>
        <a href="/">Continue-></a>
    </div>
</body>