{% extends "_baseHome.html" %}
{% block bodycontent %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Custom CSS -->
    <link href="/static/css/grayscale.css" rel="stylesheet">
    <title>Pharma Quiz Game</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<script>
    $(document).ready(function() {
        $('#on-play').click(function(){
            $('#description').animate({
                left:"-150%"} , "slow");
            $('#dropdown').animate({left:"0%"} , "slow");
            document.getElementById("dropdown").style.display = "block";
        });
        $('#on-back').click(function(){
            $('#description').animate({
                left:"0%"} , "slow");
            $('#dropdown').animate({left:"15%"} , "slow");
            document.getElementById("dropdown").style.display = "none";
        });
        var curr = {{catList|safe}};
        var dropdown = document.getElementById("category");
        var option = document.createElement("option");
        for (x = 0; x < curr.length; x++){
            var option = document.createElement("option");
            option.innerHTML = curr[x].category;
            dropdown.appendChild(option);
        }
    });
</script>
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
    <homebody>
    <!-- Navigation -->
    <!-- Intro Header -->
    <header id="top" class="intro">
        <div class="intro-body">
            <div style="position:relative" id="description" class="col-md-8 col-md-offset-2">
                <h1 class="brand-heading">PharmGenius</h1>
                <p class="intro-text">An easy, fun way to help pharmacy
                students learn and study.<br>Get started now!</p>
                {% if user_email %}
                <a class="btn btn-circle" id ="on-play">
                    <i style="cursor:pointer; color:white" class="fa fa-play animated"></i>
                </a>
                {% else %}
                <div id = "play">
                    <a href="#about" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
                {% endif %}
            </div>
            <div id="dropdown" style="position:absolute; top:40%; left:15%; display:none" class="container col-md-8 col-md-offset-2">
                <form action="/takeQuiz">
                    <div class="container col-md-8 col-md-offset-2">
                        <a id ="on-back">
                            <i style="color:white; cursor:pointer; fontWeight:bold" class="fa fa-arrow-left animated fa-3x">&nbsp<h1 style='display:inline'>Go Back</h2></i>
                        </a>
                        <br><br>
                    </div>
                    <div class ="container col-md-8 col-md-offset-2">
                        Select a Category:
                        <select style="color:black" id="category" name="category" method="POST"><!--maybe pull in all categories from python-->
                        </select>
                        <br><br>
                        Select the Number of Questions:
                        <select style="color:black" id="number" name="number" method="POST">
                            <option value=5>5</option>
                            <option value=10>10</option>
                            <option value=15>15</option>
                            <option value=20>20</option>
                            <option value=25>25</option>
                        </select>
                        <br><br>
                        <button style="color:black" type='submit' id="startQuiz">Start Quiz</button>
                    </div>
                </form>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>About PharmGenius</h2>
                <p> Pharm Genius is a game being developed by Computer Science students at the University of Pittsburgh
                in coordination with the Pharmacy School as a way of fulfilling the capstone requirement.</p>
            </div>
        </div>
    </section>
    <div class = "container text-center">
        <a style="color:white" href="https://twitter.com/pittpil"><i class="fa fa-twitter-square fa-3x"></i></a>&nbsp;&nbsp;
        <a style="color:white" href="https://github.com/TKosmacki/aeCS1980QG"><i class="fa fa-github-square fa-3x"></i></a>&nbsp;&nbsp;
        <a style="color:white" href="https://www.reddit.com/r/pitt"><i class="fa fa-reddit-square fa-3x"></i></a>
    </div>
    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; PharmGenius 2016</p>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="static/js/jquery.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="static/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="static/js/grayscale.js"></script>
    </homebody>
</body>
</html>
{% endblock %}
