{% extends "_base.html" %}
{% block bodycontent %}
<!DOCTYPE html>
<html>
<head>
</head>
<body>
    <br/><br/><br/><br/>
    <div class="container">
        <div class="container col-xs-12" style="text-align: center;">
            <h2 style="display:inline">Leaderboard</h2>
        </div>
        <div class = "container col-xs-12"><hr></div>
        <div class= "container col-md-6">
            Category: &nbsp
            <select class="selectpicker cat" id="category" name="category" method="POST">
                <option selected value="ALL">All</option>
            </select><br/><br/>
        </div>
        <div class= "container col-md-6">
            Subcategory: &nbsp
            <select class="selectpicker cat" id="subCategory" name="subCategory" method="POST">
                <option selected value="ALL">All</option>
            </select><br/><br/>
        </div>
        <div class = "container col-md-6">
            Time: &nbsp
            <select class="selectpicker cat" id="timePeriod" name="timePeriod" method="POST">
                <option selected value="ALL">All Time</option>
                <option value="Past Week">Past Week</option>
                <option value="Past Month">Past Month</option>
                <option value="Past Year">Past Year</option>
            </select><br/><br/>
        </div>
        <div class = "container col-xs-12"><br></div>
        <div class="container col-xs-12">
            <table id="leaderboard" class='leaderboard'>
              <thead>
                <th width='5%'>Rank</th>
                <th>Name</th>
                <th>Points</th>
              </thead>
              <tbody>
              </tbody>
            </table>
        </div>
    </div>
    <br>
</body>

<script type="text/javascript">
    $(document).ready(function(){
        //autochange table based on cat change
        $('#category').change(function(){
            category = $('#category').val();
            timePeriod = $('#timePeriod').val();
            if (timePeriod == null){
                timePeriod = "All";
            }
            $.ajax({
                type: "POST",
                url: "/getNewCatScores",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({"category":category, "time":timePeriod}),
                success: function(text){
                    $("#leaderboard tbody").empty();
                    var data = JSON.parse(text);
                    var rank = 1;
                    $.each(data, function(index, el) {
                        //alert(text);
                        $('#leaderboard tbody').append("<tr><td class='centered'>"+rank+"</td><td>"+index+"</td><td>"+el+"</td></tr>");
                        rank++;
                    });
                },
            });
        });
        //autochange table based on subcat change
        $('#subCategory').change(function(){
            var selectedOpt = document.getElementById("subCategory").selectedOptions[0].value;
            category = $('#subCategory').val();
            if(selectedOpt=="All"){
                category = $('#category').val();
            }

            timePeriod = $('#timePeriod').val();
            if (timePeriod == null){
                timePeriod = "All";
            }
            $.ajax({
                type: "POST",
                url: "/getNewCatScores",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({"category":category, "time":timePeriod}),
                success: function(text){
                    $("#leaderboard tbody").empty();
                    var data = JSON.parse(text);
                    var rank = 1;
                    $.each(data, function(index, el) {
                        //alert(text);
                        $('#leaderboard tbody').append("<tr><td class='centered'>"+rank+"</td><td>"+index+"</td><td>"+el+"</td></tr>");
                        rank++;
                    });
                },
            });
        });

        $('#timePeriod').change(function(){
            category = $('#category').val();
            if (category == null){
                category = "ALL";
            }
            timePeriod = $('#timePeriod').val();
            $.ajax({
                type: "POST",
                url: "/getNewCatScores",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({"category":category, "time":timePeriod}),
                success: function(text){
                    $("#leaderboard tbody").empty();
                    var data = JSON.parse(text);
                    var rank = 1;
                    $.each(data, function(index, el) {
                        $('#leaderboard tbody').append("<tr><td class='centered'>"+rank+"</td><td>"+index+"</td><td>"+el+"</td></tr>");
                        rank++;
                    });
                },
            });
        });
    });
    $(document).ready(function(){
        var scoreList =  {{list|safe}};
        var rank = 1;
        for (var prop in scoreList){
          $('#leaderboard tbody').append("<tr><td class='centered'>"+rank+"</td><td>"+prop+"</td><td>"+scoreList[prop]+"</td></tr>");
          rank++;
        }
    });
    $(document).ready(function() {
        var curr = {{catList|safe}};
        var option = $("#category");
        var suboption = $("#subCategory");
        var subcategoryList = document.getElementById("subCategory");
        var categoryList = document.getElementById("category");
        var unique1 = [];
        var unique2 = [];
        var all=[[],[]];
        $.each(curr, function(key, value) {
            var split=(value.category.split(':'));
            //alert("pop");
            all[all.length]=split;
            var cat = value.category.split(':')[0];
            var sub = value.category.split(':')[1];
            //var Ivalue = "<option value='"+value.category+"'>" + value.category + "</option>";
            var Ivalue = "<option value='"+cat+"'>" + cat + "</option>";
            var Svalue = "<option value='"+sub+"'>" + sub + "</option>";

            if($.inArray(cat, unique1) === -1)
            {
                unique1.push(cat);
                option.append(Ivalue);
            }
            /*if($.inArray(sub, unique2) === -1){
                unique2.push(sub);
                suboption.append(Svalue);
            }*/
            /*if (option.selectedIndex != -1){
                if(categoryList.selectedOptions[0].value===cat){
                    if($.inArray(sub, unique2) === -1){
                        unique2.push(sub);
                        suboption.append(Svalue);
                    }
                }
            }*/
            //option.append(Ivalue);
        });
        categoryList.addEventListener("change", function() {
            var select;
            var options = categoryList.options;
            var selectedOpt = categoryList.selectedOptions;

            //var count = options.length;
            var length = subcategoryList.length;
            var unique2 = [];

            for (i = 0; i < length; i++) {
                subcategoryList[i] = null;
            }
            subcategoryList.length=0;
            suboption.append("<option value='All'>All</option>");
            if (options.selectedIndex != -1){
                select=selectedOpt[0].value;
                length = all.length;
                for(i = 0; i < length; i++) {
                   if(all[i][0]===select){
                        if($.inArray(all[i][1], unique2) === -1){
                            unique2.push(all[i][1]);
                            var aString=all[i][0]+":"+all[i][1];
                            suboption.append("<option value='"+aString+"'>" + all[i][1] + "</option>");
                        }
                    }
                }
            }
        });

    });
    //alert(scoreList);
</script>
</html>
{% endblock %}
