{% extends "_base.html" %}
{% block bodycontent %}
<html>
<head>
    <title>Add a Question</title>
</head>
<body>
{% if user_email %}
    <br><br><br><br>
    <div class = "container">
        <h2 style="text-align: center;">New Question Submission</h2>
        <hr>
        <form action="{{upload_urlQ}}" enctype="multipart/form-data" method="post"><font size = 5>
            <div>
              <span style="font-size:75%;">Select A Category:&nbsp;</span>
              <select name="category"  id="catdropdown" method="POST" required>
              </select>
              <span style="font-size:75%;">Select A Subcategory:&nbsp;</span>
              <select name="subcategory"  id="subdropdown" method="POST" required>
              </select>
              {% if admin %}
                <a class="btn btn-link" href="#submitcat" data-toggle="modal">Create a Category</a>
              {% else %}
                <a class="btn btn-link" href="#submitcat" data-toggle="modal">Suggest a Category</a>
              {% endif %}
            </div>
          </hr>
          </br></br>
            <div class="col-xs-12" >
                <textarea type="text" name="questiontext" placeholder="Enter question here..."class="form-control" rows="6" METHOD=POST maxlength="144" id="questionText"required></textarea><br/>
            </div>
            <div class="col-sm-3" style="text-align: center;">
                <input type="textarea" class="red-text" style="width: 100%;" placeholder="Answer #1" method=POST name="answer1" maxlength="30" id="answer1" required></input>
            </div>
            <div class="col-sm-3" style="text-align: center;">
                <input type="textarea" class="blue-text" style="width: 100%;" placeholder="Answer #2" method=POST name="answer2" maxlength="30" id="answer2" required></input>
            </div>
            <div class="col-sm-3" style="text-align: center;">
                <input type="textarea" class="green-text" style="width: 100%;" placeholder="Answer #3" method=POST name="answer3" maxlength="30" id="answer3" required></input>
            </div>
            <div class="col-sm-3" style="text-align: center;">
                <input type="textarea" class="yellow-text" style="width: 100%;" placeholder="Answer #4" method=POST name="answer4" maxlength="30" id="answer4" required></input>
            </div>
            </div>
            <div class="container">
                <hr>
            Import Image:
            <input type="file" class="form-control" name="file" id="Location"></input><br/>
                Explanation:
                <textarea type="text" name="explanation" class="form-control" rows="5" maxlength="750"></textarea>
                <hr>
                Select the correct answer:<br/><br/>
                <div class="col-sm-3">
                    <button type="submit" style="width:100%; height: 100px;" name="answerid" value=1 class="submit-q-button-1" id="select1">1</button><br/><br/>
                </div>
                <div class="col-sm-3">
                    <button type="submit" style="width:100%; height: 100px;" name="answerid" value=2 class="submit-q-button-2" id="select2">2</button><br/><br/>
                </div>
                <div class="col-sm-3">
                    <button type="submit" style="width:100%; height: 100px;" name="answerid" value=3 class="submit-q-button-3" id="select3">3</button><br/><br/>
                </div>
                <div class="col-sm-3">
                    <button type="submit" style="width:100%; height: 100px;" name="answerid" value=4 class="submit-q-button-4" id="select4">4</button><br/><br/>
                </div>
        </form>
    </div>
    <br/>
    <!--Suggest category Modal-->
    <div style="z-index:2147483646;" class="modal fade" id="submitcat" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
        <div class="modal-header">
            {% if admin %}
              <he5>Category Creation</he5>
            {% else %}
              <he5>Category Suggestion</he5>
            {% endif %}
        </div>
        <div class="modal-body">
            Main Category:<br><br>
            <input class="form-control" id="category" maxlength="30" type="text" required></input>
            <br>
            Subcategory:<br><br>
            <input class="form-control" id="subcategory" maxlength="30" type="text" required></input>
            <br>
        </div>
        <div class="modal-footer">
            <a class="btn btn-default text-right" data-dismiss="modal">Close</a>
            {% if admin %}
              <button class="btn btn-primary" onclick="adminSendCategory()">Submit</button>
            {% else %}
              <button class="btn btn-primary" onclick="sendCategory()">Submit</button>
            {% endif %}
        </div>
			</div>
		</div>
	</div>

  <!--Confirmation Modal-->
  <div style="z-index:2147483646;" class="modal fade" id="confirm" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header" style="text-align:center">
          <h1 style="display:inline">Question Submitted Successfully!</h1>
        </div>
        <div class="modal-body" style="text-align:center">
          <p>Questions must have a user rating of 5 or administrative permission to be active.</p>
          <a class="btn btn-info" style="border-radius: 25px;" href="/ReviewNewQuestions" id=""><h2 class="link-button">Vote on Questions</h2></a><br/>
        </div>
        <div class="modal-footer" style="text-align: center;">
          <a class="btn btn-success" style="border-radius: 25px;" data-dismiss="modal" id="ok"><h2 class="link-button">Continue</h2></a><br/>
        </div>
      </div>
    </div>
  </div>

    {% else %}
    <div class = "intro container">
        <br><br><br>
        <h1 style="position:absolute; top:50%; left:20%;">You Must Be Logged In to View This Page!</h1>
    </div>
{% endif %}
</body>
<script>
    $(document).ready(function() {
        var curr = {{catList|safe}};
        var option = $("#catdropdown");
        var suboption = $("#subdropdown");
        var unique1 = [];
        var unique2 = [];
        $.each(curr, function(key, value) {
            cat = value.category.split(':')[0];
            sub = value.category.split(':')[1];
            var Ivalue = "<option value='"+cat+"'>" + cat + "</option>";
            var Svalue = "<option value='"+sub+"'>" + sub + "</option>";
            if($.inArray(cat, unique1) === -1)
            {
              unique1.push(cat);
              option.append(Ivalue);
            }
            if($.inArray(sub, unique2) === -1)
            {
              unique2.push(sub);
              suboption.append(Svalue);
            }
        });
        // If coming from the Quiz Me! button
        if(window.location.pathname+window.location.search == "/NewQuestion")
        {
          // Display the confirmation pop-up
          window.onload = $("#confirm").modal({ backdrop: 'static',keyboard: false });
        }
    });
    //AJAX
    function sendCategory(){
        var cat = document.getElementById('category').value;
        var sub = document.getElementById('subcategory').value;
        cat = cat.replace(/:/g, '');
        sub = sub.replace(/:/, '');
        var category = cat + ':' + sub;

        if(cat !== null && cat.match(/^\s*$/) === null)
        {
          if(sub !== null && sub.match(/^\s*$/) === null)
          {
            //clear report question text box
            document.getElementById('category').value= "";
            document.getElementById('subcategory').value= "";
            $.ajax({
                type: "POST",
                url: "/addCategory",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({"category": category}),
                success : function(text){
                    if (text.exists == true){
                        alert("Category already exists.");
                    }
                    else{
                        $('#submitcat').modal('hide');
                        confirm("Category suggestion added.");
                    }
                  }
              });
          }
          else {
            alert("The subcategory is required!");
          }
        }
        else {
          alert("The main category is required!");
        }
    }

    function adminSendCategory(){
        var cat = document.getElementById('category').value;
        var sub = document.getElementById('subcategory').value;
        cat = cat.replace(/:/g, '');
        sub = sub.replace(/:/, '');
        var category = cat + ':' + sub;

        if(cat !== null && cat.match(/^\s*$/) === null)
        {
          if(sub !== null && sub.match(/^\s*$/) === null)
          {
            //clear report question text box
            document.getElementById('category').value= "";
            document.getElementById('subcategory').value= "";
            $.ajax({
                type: "POST",
                url: "/adminAddCategory",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify({"category": category}),
                success : function(text){
                    if (text.exists == true){
                        alert("Category already exists.");
                    }
                    else{
                        $('#submitcat').modal('hide');
                        confirm("Category suggestion added.");
                        var option1 = document.createElement("option");
                        var option2 = document.createElement("option");
                        option1.text = cat;
                        option2.text = sub;
                        document.getElementById('catdropdown').add(option1);
                        document.getElementById('subdropdown').add(option2);
                    }
                  }
              });
          }
          else {
            alert("The subcategory is required!");
          }
        }
        else {
          alert("The main category is required!");
        }
    }
</script>
</html>

{% endblock %}
