{% extends "_base.html" %}
{% block bodycontent %}
<h3>{{image.title}}</h3>
<img src="{{image.image_url}}"><br>
{{image.count}} {% if image.count == 1 %}user thinks{% else %}users think{% endif %} this is dumb.<br>
{{image.comment_count}} {% if image.comment_count == 1 %}comment{% else %}comments{% endif %}<br><br>
{% for comment in image.comments %}
<i>{{comment.time_created}}</i><br>
{{comment.text}}<br><br>
{% endfor %}
{% if user_email %}
<b>Add Comment</b><br>
<form method="post" action="/comment">
<input type="hidden" name="image-id" value="{{image.key.urlsafe}}">
<textarea name="comment"></textarea><br>
<input type="submit">
</form>
{% endif %}
{% endblock %}