{% extends "_base.html" %}
{% block bodycontent %}
<!DOCTYPE html>
<head>
  <title>Profile Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
<br><br>
<div class="container">
  <h1>Real Name</h1>
  <p>User Name</p>
  <p>PharmaKarma: 9001</p> 
  <img class="img-responsive smaller-image blue-border" src="https://cs.pitt.edu/img/users/novacky.jpg"></a>
  </br>
  <p>Statistics? Favorite category?</p>
  <p>Analytics. Big Data. Cloud technologies.</p>
  <p>Ranking System?</p>

</div>

</body>
</html>
{% endblock %}